<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <!-- <node pkg="obstacle_detector" type="segmentation" name="segmentation" /> -->
    <!-- <node pkg="obstacle_detector" type="clustering" name="clustering" /> -->
    <node pkg="obstacle_detector" type="boundingbox" name="boundingbox" />
    <node pkg="rosbag" type="play" name="rosbag_play" args="$(find obstacle_detector)/src/raw_data.bag" />

</launch>
